@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fbfff1;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes zoomSlow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.animate-zoomSlow {
  animation: zoomSlow 20s ease-in-out infinite;
}

@keyframes teleport {
  0%,
  10% {
    transform: translate(0px, 0px) scale(1);
    opacity: 0;
  }
  15%,
  25% {
    transform: translate(300px, 50px) scale(1.2);
    opacity: 1;
  }
  30%,
  40% {
    transform: translate(-150px, 200px) scale(0.8);
    opacity: 1;
  }
  45%,
  50% {
    transform: translate(200px, -100px) scale(1.1);
    opacity: 1;
  }
  55%,
  100% {
    transform: translate(0px, 0px) scale(1);
    opacity: 0;
  }
}

.animate-teleport {
  animation: teleport 6s infinite;
}

.blog-content {
  @apply text-gray-200 leading-relaxed tracking-wide;
}

.blog-content h2 {
  @apply text-3xl font-semibold mt-12 mb-4 text-white;
}

.blog-content h3 {
  @apply text-2xl font-semibold mt-8 mb-3 text-white;
}

.blog-content p {
  @apply mb-6 text-gray-300;
}

.blog-content ul {
  @apply list-disc ml-6 mb-6 text-gray-300;
}

.blog-content li {
  @apply mb-2;
}

.blog-content strong {
  @apply font-semibold text-white;
}

.blog-content hr {
  @apply border-gray-700 my-10;
}

.blog-content code {
  @apply bg-gray-800 px-1 py-0.5 rounded text-gray-300;
}

.blog-content img {
  @apply rounded-xl shadow-xl my-10;
}

.blog-content blockquote {
  @apply border-l-4 border-gray-500 pl-6 italic text-gray-300 my-8;
}
